@tailwind base;
@tailwind components;
@tailwind utilities;



@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Rancho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');


.font_1 {
  font-family: "Rancho", cursive;
  font-weight: 400;
  font-style: normal;
}

.font_2{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
 
  }
